<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/iniciarSesion.css">
    </head>

    <body>
        <div id="inicioSesion">
        <p id="titulo">Iniciar Sesión</p>
        <div id="inputs">
            <input type="text" name="usuario" id="usuario" placeholder="Usuario">
            <input type="text" name="contraseña" id="contraseña" placeholder="Contraserña">
        </div>
        <div id="botonyRegitrar">
            <button id="continuar">Continuar</button>
            <p id="pregunta">¿No tienes cuenta? Regístrate</p>
        </div>
        </div>
    </body>
</html>
