<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="../../../css/iniciarSesion.css"/>
</head>
<body>

  <button id="openPopup">Iniciar Sesión</button>

  <div class="overlay" id="overlay">
    <div class="popup">
      <button class="cerrar" id="closePopup">x</button>
      <h2>Iniciar Sesión</h2>
      <form>
        <input type="text" placeholder="Usuario" required />
        <input type="password" placeholder="Contraseña" required />
        <button type="submit" class="boton">Continuar</button>
      </form>
      <p>¿No tienes cuenta? <a href="../registrarse/index.html">Regístrate</a></p>
    </div>
  </div>
<script src="script.js"></script>
</body>