<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/productoPopUp.css">
        <meta charset="UTF-8">
    </head>
    <body>
        <div id="popup">
            <div id="img">
                 
            </div>
            
            <p id="titulo">Titulo</p>
            <p id="precio">Precio</p>
            <p id="descripcion">Descripcion larga de toda la informacion del servicio con fotos si hay mas de una , y datos de contacto ubicacion etc del comerciante . j ave4hfyrkbjh,v bhgknshefdnvemrgdbvm b.fdbvc y jhgd fkflvqkwdnsvfvknsriec dldrj vcnb shfdsdnxregfhkranxSYUGe,hmbgfhfnvl sahers fbdoñkxvfojfx lg hael fvñvdsflusn fvbso´g v ñcaidfvbkwscnk fsl.dcoidfsñ nvjbvodzlb,msbv,dlfbfsbr vfmlfv,d.fnc dbs.xlcdbdcñflnxmnb,vlwcwandsbclkxfv x.lkfjv k,kkfjvx mjckc cxfjk ljsdjkj v,jhfkde dvusdnvckueksvckiwjbfdkvbnsicjbkidlnjdfvinsh bdkvl. dnsdvnsodjdfsfl. fvisicnsxcviuskzbdvliawknbDvliokamdfliokansclvinwasdbc.</p>
            <p id="contacto">Datos de contacto</p>
        </div>
    </body>
</html>